@model Sale
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="row">
    @foreach (var item in Model.saleCollection.collections)
    {
        <div class="col-md-4 col-xs-12 col-sm-6 text-center">
            <div class="col-md-12 col-xs-12 col-sm-12 containerItem">
                <div>
                    <h3>
                        <a asp-controller="Catalog" asp-action="Item" asp-route-id="@item.Id" style="width: 100%;">@item.Name</a>
                    </h3>
                </div>

                <div>
                    <a asp-controller="Catalog" asp-action="Item" asp-route-id="@item.Id">
                        <img src="@item.Image" alt="" class="imageCatalog">
                    </a>
                </div>
                <div>
                    <s>@item.OriginPrice,-</s>
                    <div class="priceSale">
                        @item.PriceAfterSale Kč
                    </div>
                    <a href="@item.LinkFirm" class="btn btn-success btn-lg">Koupit v obchodě</a>
                </div>
            </div>
        </div>
    }
</div>

@*@item.PercentSale%*@

