@model Sale
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (var item in Model.saleCollection.collections)
{
<div>
    @item.Name
    @item.PriceAfterSale,-
    @item.OriginPrice.-

    <img src="@item.Image" alt="" height="420" width="420">

    @item.ValidFrom

    <a href="@item.LinkFirm">link text</a>

    @item.Description


    <a asp-controller="Catalog" asp-action="Item" asp-route-id="@item.Id" class="btn btn-round btn-white">Produkt</a>
</div>
    }
@*@Model.Name
@Model.PriceAfterSale,-
@Model.OriginPrice.-

<img src="@Model.Image" alt="" height="420" width="420">

@Model.ValidFrom

<a href="@Model.LinkFirm">link text</a>

@Model.Description


<a asp-controller="Catalog" asp-action="Item" asp-route-id="@Model.Id" class="btn btn-round btn-white">Produkt</a>*@