@model Sale

@{
    ViewData["Title"] = "Item";
}

<h2>Item</h2>

@Model.Name
<h2>Index</h2>
@Model.Name
@Model.PriceAfterSale,-
@Model.OriginPrice.-

<img src="@Model.Image" alt="" height="420" width="420">

@Model.ValidFrom

<a href="@Model.LinkFirm">link text</a>

@Model.Description
@Model.PercentSale%